setuptools
numpy==1.26.4
Flask==2.3.3
Werkzeug==2.3.7
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.104.0
python-dotenv==1.0.0
tqdm==4.66.2
gunicorn==21.2.0
openpyxl==3.1.2
pandas==2.2.2
odfpy==1.4.1
